</html>
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/bootstrap-4/css/bootstrap.min.css}">
	<link href="/fontawesome/css/all.min.css" rel="stylesheet" />


	<title>Hello, world!</title>
</head>

<body>
	<div th:replace="~{fragments/navigation-header :: navigationHeader}"></div>

	
	<div class="container-fluid">
		<div class="row">
			<main class="col-12 p-4">
				<div th:replace="fragments/import-form :: importForm"></div>
				<div th:replace="fragments/message-alert :: messageAlert"></div>
				<div th:replace="fragments/manual-form :: manualForm"></div>
				<div th:replace="fragments/data-table :: dataTable(${woorderlist})"></div>
			</main>

		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script th:src="@{/bootstrap-4/js/bootstrap.bundle.min.js}"></script>
	
	<script type="text/javascript">
	    function confirmDelete() {
	        return confirm("Bạn có chắc chắn muốn xóa công việc này không?");
	    }
	</script>
</body>

</html>